<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
  <header>
    <div class="container"></div>
      <h1>Blog</h1>
      <nav>
        <ul>
          <li><a href="http://127.0.0.1:5000/update">Update</a></li>
          <li><a href="http://127.0.0.1:5000/delete">Delete</a></li>
          <li><a href="http://127.0.0.1:5000/out">View</a></li>
          <li><a href="http://127.0.0.1:5000/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="bg">
    <div class="container">
      <p>Write your passions, your way <span>Create a unique and beautiful blog</span></p>
      <a href="/write" class="button button-accent">Create your blog</a>
    </div>
  </section>
</body>
</html>